.my-msg-input {
  display: inline-flex;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }

  .my-ia {
    &__content {
      border: none !important;
      padding: 0 !important;
    }
    &__input {
      min-height: 100px;
      padding: 3px;
      font-size: 20px;

      border: 3px solid #009891eb;
      border-radius: 5px;
    }
  }
  .my-btn {
    margin: 10px 0 0 0;

    &__content {
      width: auto !important;
      min-width: 70px !important;
      padding: 8px !important;
      border: none !important;
      background: rgb(98, 108, 239) !important;
      border-radius: 10px;
      box-shadow: none !important;
      min-height: auto !important;
    }
    &__value {
      color: white;
    }

    &--disabled {
      .my-btn {

        &__content {
          background: rgba(171, 175, 255, 0.97) !important;
        }
      }
    }

    &:hover {
      .my-btn {

        &__value {
          color: white;
        }
      }
    }
  }

}