@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$border-color: #9799a96b;

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #236820;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 223, 78, 0.53);
}

%c-border-style {
  border-top: 3px ridge $border-color;
  border-left: 2px solid $border-color;
  border-right: 2px solid $border-color;
  border-bottom: 3px ridge $border-color;
  border-radius: 5px;
}

.the-app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #dde8e3;
  height: 100vh;
}

.clientA {
  margin: 10px;
  padding: 10px;
  background: #7196e7;
  border-radius: 10px;
}

.clientB {
  margin: 10px;
  padding: 10px;
  background: #7196e7;
  border-radius: 10px;
}